<% page_content = File.read("data/" + current_page.data.slug + ".md") %>

<% wrap_layout :layout do %>
<main>
    <article>
        <h1><%= current_page.data.title %></h1>
        <%= Kramdown::Document.new(page_content).to_html %>
    </article>
</main>
<% end %>
