---
title : Error 404
---
<main>
    <article>
        <h2>Error 404, page not found.</h2>
        Sorry, something went wrong.
        The page you're looking for don't exist (or have been deleted).
    </article>
</main>
